 <div class="hidden lg:block bg-white border border-2 border border-2 rounded-md">
    <div class="h-8 bg-gray-300 ">
        <p class="ml-1">
            <span class="relative inline-flex h-5 w-3 bg-red-600 animate"></span> <i class="fas fa-book-reader mb-1"></i>
            <span class="ml-2 text-xl font-semibold">Documents</span>
        </p>  
    </div>
    <% @materials.each do |m| %>
    <p class="mx-4">
      <%= link_to m.title, m , class:"bg-white p-1 rounded-l rounded-r lg:rounded-none lg:block" %>
    </p>
    <% end %>
 </div>

 <!-- General-->
 <!--Info General-->
  <div class="hidden lg:block bg-white border border-2 mt-4 border border-2 rounded-md">
    <div class="h-8 bg-gray-300 ">
        <p class="ml-1">
            <span class="relative inline-flex h-5 w-3 bg-blue-600 animate"></span>
            <span class="ml-2 text-xl font-semibold">Mon Profil</span>
        </p>  
    </div>
    <p class="mx-4">Nom: <%= current_user.full_name %></p>
    <p class="mx-4">Niveau: Tle</p>
    <p class="mx-4">Ville Actuelle: <%= current_user.city %></p>
 </div>