<!-- component -->

            <!-- The nav bar with logo and menu items-->
            <nav class="screen2_menu_container fixed-top px-6 relative text-white bg-blue-500">
                <h4>Lnclass</h4>
                <label for="screen2_menu_check" class="screen2_menu_btn">

                    <!-- checkbox to track when the hamburger menu is clicked on -->
                    <input type="checkbox" id="screen2_menu_check" />

                    <!-- the hamburger menu -->
                    <div class="screen2_menu_hamburger"></div>

                    <!-- menu items -->
                    <ul class="screen2_menu_items font-semibold ">
                    <div class="bg-blue-500">
                        <li>Home</li>
                        <li>About</li>
                        <li>Contact</li>
                    </div>
                    </ul>
                </label>
            </nav>

