<!-- component -->
<!-- The nav bar with logo and menu items-->
<nav class="screen2_menu_container fixed-top px-6 relative text-white bg-blue-500">
    <div class="flex flex-row items-center">
        <h3 class="font-bold text-3xl md:mx-40">Lnclass</h3>
        <div class="group flex flex-col items-center">
            <div class="hidden group-hover:block md:block absolute md:static inset-x-0 top-16 py-3 shadow-md md:shadow-none text-gray-600">
                <div class=" md:mx-20 flex flex-row justify-center items-center text-center font-semibold text-gray-500">
                    <!--- Home-->
                    <%= link_to root_path, class:"no-underline  px-6 py-1 flex flex-col md:flex-row md:items-center text-black" do %> 
                     <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="fill-current h-10 md:h-5 px-2" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/><path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/></svg>
                     Accueil 
                    <% end %>
                                
                    <!--- Groupe -->
                    <%= link_to groups_path, class:' no-underline px-6 py-1 flex flex-col md:flex-row md:items-center text-black font-bold' do %>
                     <span class=""><i class="fa fa-users"></i> Groupes </span>  
                    <% end %>
                    <!--- Documents-->
                    <%= link_to documents_path, class:'no-underline px-6 py-1 flex flex-col md:flex-row md:items-center text-black font-bold' do %>
                     <span class=""><i class="fas fa-book "></i> Documents</span> 
                    <% end %>
                    <!--- sign out-->
                    <%= link_to destroy_user_session_path, method: :delete , class:" no-underline px-6 py-1 flex flex-col md:flex-row md:items-center text-black font-bold" do %>
                     <span><i class="fas fa-sign-out-alt"></i> Déconnecter</span>
                    <% end %>
                </div>
            </div>
        </div>
        </div>
    <label for="screen2_menu_check" class="screen2_menu_btn">

    <!-- checkbox to track when the hamburger menu is clicked on -->
    <input type="checkbox" id="screen2_menu_check" />

   <!-- the hamburger menu -->
    <div class="screen2_menu_hamburger md:hidden"></div>

    <!-- menu items -->
    <ul class="screen2_menu_items font-semibold ">
    <div class="bg-blue-500">
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
    </div>
    </ul>
    </label>
</nav>

