<div class="card rounded-md mt-2 -mx-2">
    <%= link_to  edit_course_path(@course), class:"mx-2 mt-2 no-underline font-semibold" do %>
        <i class="fas fa-pen-square"></i> Modifier
    <% end %>
</div>