<div class="mt-2 w-2/4 flex flex-wrap content-start text-sm">
          <div class="mx-4 p-2 lg:mr-8"> 
            <% if currentUserRole?(current_user) === ":student?" %>
              <%= link_to course_path(course), class:"hover:text-black text-black no-underline" do %>
              <i class="fas fa-chalkboard-teacher"></i> S'Abonnez  
              <% end %>
            <% else %>
            <%= link_to course_path(course), class:"hover:text-black text-black no-underline" do %>
              <i class="fas fa-chalkboard-teacher"></i> Ameliorez  
              <% end %>
            <% end %>
          </div>
        </div>
        <!-- show  -->
        <div class="mt-2 w-2/4 flex-wrap ">
          <div class="mr-4 p-2">
            <% if currentUserRole?(current_user) === ":student?" %>
                <%= render "sharing/student" %>
              <% else %>
                <%= render "sharing/teacher" %>
              <% end %>
          </div>
        </div>